.container {
    background-color: rgb(52, 235, 248);
    margin: auto;
    height: 100px;

 } 

 .boxcontainer { 
    background-color: rgb(194, 245, 24);
    width: 600px;

  } 

  .box  {
    
   } 