.container1 { background-color: blue;
    max-width: auto;
    height: 400px;
    display: flex;
    justify-content: space-around;
    margin-inline: auto;
    ;


    
} 



.box {
    
    background-color: yellow;
    width: 33.3%;
    height: 20px;
    border-color: black;
    border-style: dashed;
    border-width: 1px;
    
    text-align: center;
    
    
} 

